.loading-screen,
.auth-page {
  min-height: 100vh;
  background: #050505;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.loading-screen {
  flex-direction: column;
}

.loading-screen h1 {
  color: #00f5ff;
  letter-spacing: 3px;
}

.loading-screen p {
  color: #777;
  margin-top: 10px;
}

.auth-card {
  width: 100%;
  max-width: 430px;
  background: #0b0b0b;
  border: 1px solid #222;
  border-radius: 24px;
  padding: 30px 22px;
}

.brand {
  text-align: center;
  color: #00f5ff;
  letter-spacing: 4px;
  margin-bottom: 8px;
}

.tagline {
  text-align: center;
  color: #777;
  margin-bottom: 25px;
}

.auth-switch {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}

.auth-switch button {
  flex: 1;
  padding: 12px;
  background: #111;
  border: 1px solid #222;
  border-radius: 10px;
  color: #777;
}

.auth-switch button.selected {
  color: #00f5ff;
  border-color: #00f5ff;
}

.auth-card form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.auth-card input {
  width: 100%;
  padding: 14px;
  background: #111;
  color: white;
  border: 1px solid #292929;
  border-radius: 12px;
  outline: none;
}

.auth-card input:focus {
  border-color: #00f5ff;
}

.auth-card label {
  color: #aaa;
  font-size: 13px;
}

.small-text {
  color: #666;
  font-size: 12px;
}

.account-types {
  display: flex;
  gap: 10px;
}

.account-types button {
  flex: 1;
  padding: 15px 8px;
  background: #111;
  color: #777;
  border: 1px solid #292929;
  border-radius: 12px;
}

.account-types button.account-selected {
  color: #00f5ff;
  border-color: #00f5ff;
}

.account-types strong,
.account-types span {
  display: block;
}

.account-types span {
  font-size: 11px;
  margin-top: 5px;
  color: #666;
}

.main-button {
  margin-top: 8px;
  padding: 14px;
  border: none;
  border-radius: 12px;
  background: #00f5ff;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

.message {
  margin-top: 18px;
  padding: 12px;
  background: #111;
  border-radius: 10px;
  color: #00f5ff;
  font-size: 13px;
}

.logout-btn {
  margin-top: 25px;
  padding: 12px 25px;
  border: 1px solid #00f5ff;
  border-radius: 12px;
  background: transparent;
  color: #00f5ff;
}
